* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #151515;
  color: white;
}
*:focus-visible {
  outline: 0px;
  border: none;
}
[role="tree"],
[role="listbox"],
[role="treelinear"] {
  user-select: none;
}
.flex {
  display: flex;
  align-items: center;
}
.center-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.selected {
  background-color: #238bc7c4;
}
[role="row"],
[role="treelinear"] [role="treeitem"] {
  cursor: pointer;
  @extend .flex;
  [role="content"] {
    @extend .flex;
    [role="column"] {
      padding: 4px;
    }
  }
  &[aria-selected="true"] {
    @extend .selected;
  }
}
[role="treegrid"] {
  &[aria-selected="true"] {
    > [role="treeitem"] {
      [role="content"] {
        @extend .selected;
      }
    }
  }
}
[role="icon"] {
  @extend .center-flex;
  cursor: pointer;
}
[role="treeitem"] {
  @for $i from 0 through 20 {
    &[aria-level="#{$i}"] {
      [role="level"] {
        width: ($i) * 10px + 25px;
      }
    }
  }
  [role="level"] {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }
}
// menu start
$contextStart: 4px;
[role="tree"] {
  [role="treeitem"] {
    [role="content"] {
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding: 3px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
    padding: 5px 10px;
  }
  &:not([aria-label]) {
    position: absolute;
    left: calc(100%);
    top: 0px;
    background-color: #191919;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #0002;
    width: 200px;
  }
  &[aria-label] {
    position: relative;
    width: 0px;
  }
  [role="treegrid"] {
    position: relative; 
  }
}
