* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #151515;
  color: white;
}

*:focus-visible {
  outline: 0px;
  border: none;
}

[role=tree],
[role=listbox],
[role=treelinear] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.flex, [role=row] [role=content],
[role=treelinear] [role=treeitem] [role=content], [role=row],
[role=treelinear] [role=treeitem] {
  display: flex;
  align-items: center;
}

.center-flex, [role=icon] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.selected, [role=treegrid][aria-selected=true] > [role=treeitem] [role=content], [role=row][aria-selected=true],
[role=treelinear] [role=treeitem][aria-selected=true] {
  background-color: rgba(35, 139, 199, 0.768627451);
}

[role=row],
[role=treelinear] [role=treeitem] {
  cursor: pointer;
}
[role=row] [role=content] [role=column],
[role=treelinear] [role=treeitem] [role=content] [role=column] {
  padding: 4px;
}
[role=icon] {
  cursor: pointer;
}

[role=treeitem][aria-level="0"] [role=level] {
  width: 25px;
}
[role=treeitem][aria-level="1"] [role=level] {
  width: 35px;
}
[role=treeitem][aria-level="2"] [role=level] {
  width: 45px;
}
[role=treeitem][aria-level="3"] [role=level] {
  width: 55px;
}
[role=treeitem][aria-level="4"] [role=level] {
  width: 65px;
}
[role=treeitem][aria-level="5"] [role=level] {
  width: 75px;
}
[role=treeitem][aria-level="6"] [role=level] {
  width: 85px;
}
[role=treeitem][aria-level="7"] [role=level] {
  width: 95px;
}
[role=treeitem][aria-level="8"] [role=level] {
  width: 105px;
}
[role=treeitem][aria-level="9"] [role=level] {
  width: 115px;
}
[role=treeitem][aria-level="10"] [role=level] {
  width: 125px;
}
[role=treeitem][aria-level="11"] [role=level] {
  width: 135px;
}
[role=treeitem][aria-level="12"] [role=level] {
  width: 145px;
}
[role=treeitem][aria-level="13"] [role=level] {
  width: 155px;
}
[role=treeitem][aria-level="14"] [role=level] {
  width: 165px;
}
[role=treeitem][aria-level="15"] [role=level] {
  width: 175px;
}
[role=treeitem][aria-level="16"] [role=level] {
  width: 185px;
}
[role=treeitem][aria-level="17"] [role=level] {
  width: 195px;
}
[role=treeitem][aria-level="18"] [role=level] {
  width: 205px;
}
[role=treeitem][aria-level="19"] [role=level] {
  width: 215px;
}
[role=treeitem][aria-level="20"] [role=level] {
  width: 225px;
}
[role=treeitem] [role=level] {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

[role=tree] [role=treeitem] {
  padding: 5px 10px;
}
[role=tree] [role=treeitem] [role=content] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
}
[role=tree]:not([aria-label]) {
  position: absolute;
  left: 100%;
  top: 0px;
  background-color: #191919;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1333333333);
  width: 200px;
}
[role=tree][aria-label] {
  position: relative;
  width: 0px;
}
[role=tree] [role=treegrid] {
  position: relative;
}/*# sourceMappingURL=main.css.map */